@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.NavbarItems {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 9px;
  padding: 0px 20px;
  height: 50px;
  width: 90%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.NavbarItems .logo {
  color: #667eea;
  cursor: pointer;
  justify-self: start;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  transition: padding-left 0.3s ease;
}

.NavbarItems .logo:hover {
  padding-left: 10px;
}

.fa-react {
  padding-right: 2px;
}

.MenuItems {
  list-style: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.nav-links {
  text-decoration: none;
  color: #4463ed;
  padding: 10px 12px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgb(102, 126, 234);
  border-radius: 5px;
}

.fa-bars,
.fa-times {
  color: green;
  cursor: pointer;
  font-size: 1.5rem;
}

.Hamburger-Cross-Icons {
  display: none;
  z-index: 1001;
}

.nav-button {
  padding: 12px 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #006400;
  transform: scale(1.05);
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 999;
  }

  .MenuItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    height: auto;
    backdrop-filter: blur(5px);
    position: absolute;
    align-items: stretch;
    top: 0;
    left: -110%;
    padding: 50px 0 40px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .MenuItems.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }

  .Hamburger-Cross-Icons {
    display: block;
  }

  .nav-button {
    padding: 1rem;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
  }
}